@model Ingredient
@{
    ViewBag.Title = "Edit Ingredient";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <input type="hidden" asp-for="IngredientId" />

            </div>
            <button type="submit" value="Save" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </form>
    </div>
</div>