@model Product

@{
    ViewBag.Title = "Edit Product";
}

<h2 class="text-center mb-4">Edit @Model.Name</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" type="textarea" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageFile" class="form-label"></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label"></label>
                    <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
                <input type="hidden" asp-for="ProductId"/>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
